@font-face {
    font-family: "Torus";
    src: url("../fonts/Torus\ Bold.otf");
    font-weight: 700;
}
@font-face {
    font-family: "Torus";
    src: url("../fonts/Torus\ Regular.otf");
    font-weight: 400;
}

/* ===========================
   Logo
=========================== */
.logo {
    position: absolute; 
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
}

/* ===========================
   Title Background
=========================== */
.title-background {
    position: absolute;
    top: 89px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.75;
    mix-blend-mode: overlay;
}

/* ===========================
   Seed Reveal
=========================== */
.seed-reveal {
    position: absolute;
    top: 117px;
    left: 50%;
    transform: translateX(-50%);
}

/* ===========================
    Profile Picture
=========================== */
.profile-picture {
    position: absolute;
    top: 266px;
    left: 659px;
    width: 130px;
    height: 130px;
    border: 2px solid #ffffff;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 29px 9px rgba(0, 0, 255, 1);
}

/* ===========================
    Player Details
=========================== */
.player-details {
    position: absolute;
    left: 814px;
    font-family: "Poppins";
    font-weight: 700;
    color: white;
}
.player-seed {
    top: 283px;
    font-size: 39px;
}
.player-name {
    top: 327px;
    font-size: 31px;
}

/* ===========================
    Results Background
=========================== */
.results-background {
    position: absolute;
    top: 399px;
    left: 1301px;
    transform: translateX(-50%);
    mix-blend-mode: overlay;
}

/* ===========================
    Results Top Area
=========================== */
.results-top-area {
    position: absolute;
    top: 471px;
    left: 785px;
    width: 1060px;
    display: flex;
    justify-content: space-between;
}
/* ===========================
    Results Mod Container
=========================== */
.results-mod-container {
    display: flex;
    align-items: center;
    width: 160px;
}
.results-mod-rank {
    font-size: 30px;
    color: white;
    font-weight: 700;
    font-family: "Poppins";
    margin-left: 6px;
}
/* ===========================
    Results Container
=========================== */
.results-container {
    position: absolute;
    top: 592px;
    left: 790px;
    display: flex;
    gap: 103px;
}
.mod-results-container {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.map-results-container {
    font-size: 29px;
    color: #e1e1e1;
    font-family: "Torus";
    filter: drop-shadow(0.908px 1.782px 0px #2e2e2e);
    width: 200px;
}
.map-results-mod-rank { font-weight: 700; }
.map-results-mod-rank-slash-spacing { margin-left: 7px; }
.map-results-score { font-weight: 400; }

/* ===========================
    Now Playing Background
=========================== */
.now-playing-background {
    position: absolute;
    bottom: 0;
    right: 0;
}
/* ===========================
    Now Playing Song Background
=========================== */
.now-playing-song-background {
    position: absolute; 
    bottom: 0;
    right: 18px;
    width: 120px;
    height: 120px;
    border-radius: 30px;
    background-image: url("https://assets.ppy.sh/beatmaps/1942534/covers/cover.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 18px 5.4px rgba(0, 0, 0, 0.41);
}
/* ===========================
    Now Playing Metadata
=========================== */
.now-playing-metadata {
    position: absolute;
    right: 164px;
    font-size: 22px;
    font-family: "Poppins";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 298px;
    text-align: right;
}
.now-playing-title {
    bottom: 90px;
    color: white;
    font-weight: 700;
}
.now-playing-artist {
    bottom: 60px;
    color: #c7c7c7;
    font-weight: 500;
}
/* ===========================
   Song Timelines
=========================== */
.now-playing-time-details {
    font-family: "Poppins";
    position: absolute;
    bottom: 0;
    right: 164px;
    text-align: right;
    width: 298px;
}
.now-playing-timeline {
    position: relative;
    width: 298px;
    height: 8px;
}
.now-playing-timeline-background {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.541;
    width: 298px;
    height: 8px;
    border-radius: 5px;
    background-color: #000000;
}
.now-playing-timeline-foreground {
    position: absolute;
    top: 0;
    left: 0;
    width: 228px;
    height: 8px;
    border-radius: 5px;
    background-color: #ff524a;
}
.now-playing-timeline-circle {
    position: absolute;
    top: 50%;
    left: 228px;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 20px;
    background-color: #ff524a;
    border: 4px solid #ce3b33;
}
.now-playing-timeline-details {
    margin-top: 13px;
    font-size: 21px;
    color: white;
    font-weight: 500;
    width: 298px;
    display: flex;
    justify-content: space-between;
}

/* ===========================
   Preload Images
=========================== */
.preload-images {
    position: absolute;
    top: 1440px;
}

/* ===========================
   Sidebar
=========================== */
.sidebar {
    position: absolute;
    left: 2560px;
    top: 0;
    width: 300px;
    height: 1440px;
    background-color: #F77141;
}
/* Button */
.sidebar-button {
    margin: 20px 20px 0 20px;
    width: 250px;
    height: 50px;
    border: 5px solid white;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
.sidebar-button:active {
    background-color: white;
    color: black;
}