/* ===========================
   Round Logo
=========================== */
.round-logo {
    position: absolute;
    top: 112px;
    left: 50%;
    transform: translateX(-50%);
}

/* ===========================
   Mappool Section
=========================== */
.mappool-section {
    position: absolute;
    top: 281px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.mappool-section > * {
    height: 154px;
}
/* ===========================
   Mod Section
=========================== */
.mod-section {
    position: relative;
}
/* ===========================
   Mod Section Background
=========================== */
.mod-section-background {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/* ===========================
   Maps Container
=========================== */
.maps-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 107%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
/* ===========================
   Map Container
=========================== */
.map-container {
    position: relative;
    width: 426px;
    height: 90px;
    border-radius: 20px;
}
/* ===========================
   Map Container Background
=========================== */
.map-container-background {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    opacity: 0.67;
}
.map-container-background-nm { background-color: #214873; }
.map-container-background-hd { background-color: #7e4819; }
.map-container-background-hr { background-color: #7e1919; }
.map-container-background-dt { background-color: #19447e; }
.map-container-background-tb { background-color: #7e194f; }
/* ===========================
   Map Background Image
=========================== */
.map-background-image {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: #262d32;
    background-size: cover;
    background-position: center;
}
/* ===========================
   Map Metadata
=========================== */
.map-metadata {
    position: absolute;
    top: 15px;
    left: 100px;
    font-family: "Poppins";
    font-size: 22px;
    text-align: left;
    line-height: 30px;
}
.map-metadata > * {
    width: 225px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.map-title {
    font-weight: 700;
    color: white;
}
.map-artist {
    font-weight: 500;
    color: #c7c7c7;
}
/* ===========================
   Map Mod Icon
=========================== */
.map-mod-icon {
    width: 105px;
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
}
/* ===========================
   Map Overlay
=========================== */
.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0.67;
    background-color: black;
    display: none;
}
/* ===========================
   Map Banned Container
=========================== */
.map-action-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ===========================
   Chat Display
=========================== */
.chat-display {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 1576px;
    height: 359px;
}
.chat-display > * {
    position: absolute;
}
.chat-text-image {
    top: 13px;
    right: 10px;
}
/* ===========================
   Chat Display Container
=========================== */
.chat-display-container {
    position: absolute;
    left: 70px;
    bottom: 57px;
    width: 1436px;
    height: 245px;
    color: white;
    font-weight: 700;
    font-family: "Poppins";
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}
.chat-message-container {
    display: flex;
    margin: -3px 0;
}
.chat-message-name {
    width: 180px;
    margin-right: 12px;
}
.left { color: #FFAAC6; }
.right { color: #aaddff; }
.bot { color: #62FFB7; }
.unknown { color: #FFE0AA; }

/* ===========================
   Sidebar
=========================== */
.sidebar {
    position: absolute;
    top: 0;
    left: 2560px;
    width: 350px;
    height: 1440px;
    font-family: "Poppins";
    background-color: #2183DD;
    color: white;
}
h1, h2 {
    text-align: center;
    width: 100%;
}
h2 {
    font-size: 3em;
    height: 72px;
}
button { 
    margin-left: 50px;
    font-family: "Poppins";
    font-size: 1.2em;
    color: white;
    background-color: transparent;
    border: 3px solid white;
    width: 250px;
    height: 75px;
    margin-top: 20px;
    border-radius: 25px;
}
button:active {
    color: #2183DD;
    background-color: white;
}
.toggle-active { background-color: rgb(32, 121, 44); }
.toggle-inactive { background-color: rgb(121, 32, 32); }
p {
    text-align: center;
    font-size: 1.25em;
}

/* ===========================
   Panel
=========================== */
.panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 500ms ease-in-out;
    opacity: 0;
    display: none;
}
.panel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.478;
}
/* ===========================
   Panel Inner
=========================== */
.panel-inner {
    position: absolute;
    top: 387px;
    left: 50%;
    transform: translateX(-50%);
    width: 617px;
    height: 578px;
    background-image: url("static/now-playing-background.png");
    font-size: 22px;
    font-family: "Poppins";
}
.panel-inner > * { position: absolute; }
.panel-left-align { left: 26px; }
.panel-text-bold {
    color: white;
    font-weight: 700;
}
.panel-text-regular {
    color: #D6D6D6;
    font-weight: 400;
}
/* ===========================
   Song Background
=========================== */
.panel-song-background {
    top: 29px;
    width: 455px;
    height: 90px;
    filter: drop-shadow(3.993px 3.009px 4px rgba(0,0,0,0.42));
    background-color: #262d32;
    background-image: url("https://assets.ppy.sh/beatmaps/1942534/covers/cover.jpg");
    background-size: cover;
    background-position: center;
}
/* ===========================
   Mod Id
=========================== */
.panel-mod-id {
    top: 6px;
    right: 5px;
}
/* ===========================
   Text Positions
=========================== */
.panel-top-metadata {
    width: 455px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.panel-title { top: 144px; }
.panel-artist { top: 170px; }
.panel-difficulty { top: 223px; }
.panel-mapped-by { top: 275px; }
.panel-mapper-name { top: 302px; }
.panel-stats-line-one { top: 380px; }
.panel-stats-line-two { top: 432px; }
.panel-stats-number { margin-right: 64px; }
.panel-star-rating {
    top: 144px;
    right: 72px;
    transform: translateX(50%);
    color: #fcff00;
    font-weight: 700;
}