:root {
    --metadata-stats-horizontal-alignment: 98px;
}

.main {
    font-family: "Poppins";
}

/* ===========================
   Logo
=========================== */
.logo {
    position: absolute;
    width: 245px;
    left: -4px;
}

/* ===========================
   Showcase Title
=========================== */
.showcase-title {
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: 512px;
    height: 115px;
}
.showcase-title > * {
    position: absolute;
    top: 0;
    left: 0;
}
.showcase-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* ===========================
   Gameplay scene
=========================== */
.gameplay {
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;
    height: 1080px;
    border-radius: 50px;
    background-color: #0F0;
}

/* ===========================
   Gameplay Text
=========================== */
.gameplay-text {
    position: absolute;
    left: 341px;
}
.gameplay-texts {
    font-size: 20px;
    color: #9e9e9e;
    font-weight: 500;
}
.replayer-text { top: 197px; }
.mapper-text { top: 281px; }
/* ===========================
   Gameplay names
=========================== */
.gameplay-names {
    font-size: 24px;
    color: white;
    font-weight: 400;
}
.replayer-name { top: 222px; }
.mapper-name { top: 305px; }

/* ===========================
   Mod Icons
=========================== */
.mod-icon {
    position: absolute;
    bottom: 20px;
    left: 255px;
}

/* ===========================
   Now Playing
=========================== */
.now-playing {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1874px;
    height: 251px;
}
.now-playing-background {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* ===========================
   Song Metadata
=========================== */
.song-metadata {
    position: absolute;
    left: var(--metadata-stats-horizontal-alignment);
    font-size: 26px;
}
/* ===========================
   Song Details
=========================== */
/* Song Name */
.song-name {
    top: 92px;
    color: white;
    font-weight: 700;
}
/* Song Artist */
.song-artist {
    top: 123px;
    color: #D7D7D7;
    font-weight: 400;
}
/* Song Difficulty */
.song-difficulty {
    top: 186px;
    color: white;
    font-weight: 700;
}
/* ===========================
   Song Divider
=========================== */
/* Song Divider */
.song-divider {
    top: 155px;
    color: white;
    font-weight: 400;
}
.right-divider { right: var(--metadata-stats-horizontal-alignment); left: unset; }

/* ===========================
   Song Timeline
=========================== */
.song-time-details {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: right;
    width: 427px;
}

/* ===========================
   Song Stats
=========================== */
.song-stats-helper-class {
    position: absolute;
    right: var(--metadata-stats-horizontal-alignment);
    font-size: 26px;
}
.song-bpm {
    top: 92px;
    color: white;
    font-weight: 400;
}
.stat-number { 
    font-weight: 700;
    margin-left: 18px;
}
.song-other-stats {
    top: 122px;
    display: flex;
    gap: 30px;
    color: white;
    font-weight: 400;
}
.song-star {
    top: 186px;
    color: #FFFD52;
}